# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 25bf1b6f80781bec561728a60f7fec70d9d618122b88b97fc75ddc52f1d25f17bc7fdc2fd54dd75b7b5223df2c399dec8b9d85d475e124d2b39198f23b9fe777

test:
  secret_key_base: ef61c8a14ced9c9252bc2f4cfca1133a19efc707d3a5e7d9608a410c6569302af2f40b023e673e6ba3a99684a8d8102963fb63a6d1ec7760be2a7ef5b9f93153

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
