.btn-login {
  border: 1px solid red;
  border-radius: 100px;
  padding-top: 5px!important;
  padding-bottom: 5px!important;
  margin-top: 10px;
}

.btn-login:hover {
  transition: ease-in .25s;
  font-weight: bold;
  background-color: red !important;
  color: #fff!important;
}

.hero {
  height: 60vh;
  background-position: center;
  background-size: cover;


  h1 {
    margin-top: 150px;
    color: #fff;
    font-size: 30px;
    text-shadow: 0 0 1px #000;
  }

  #namer {
    position: relative;
    max-width: 800px;
    margin: 50px auto 0;
  }

  #namer input {
    border: 0;
    border-bottom: 2px solid #fff;
    width: 100%;
    font-size: 30px;
    line-height: 35px;
    height: 70px;
    text-align: center;
    padding: 10px;
    background: transparent;
    color: #fff;
  }

  #namer input.shake {
    animation-name: shaker;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
  }

  #namer input:focus {
    outline: 0;
    color: #fff;
  }

  #namer input::placeholder {
    color: #fff;
  }

  @keyframes shaker {
    0% {
      transform: translate(0px, 0px) rotate(0deg);
      opacity: 0.8;
    }
    10% {
      transform: translate(10px, 7px) rotate(-9deg);
      opacity: 0.6;
    }
    20% {
      transform: translate(13px, -19px) rotate(-3deg);
      opacity: 0.3;
    }
    30% {
      transform: translate(-6px, -6px) rotate(2deg);
      opacity: 0.4;
    }
    40% {
      transform: translate(-9px, -18px) rotate(-5deg);
      opacity: 0.4;
    }
    50% {
      transform: translate(10px, -8px) rotate(5deg);
      opacity: 0.7;
    }
    60% {
      transform: translate(-10px, 14px) rotate(-6deg);
      opacity: 1;
    }
    70% {
      transform: translate(10px, 3px) rotate(6deg);
      opacity: 0.1;
    }
    80% {
      transform: translate(-2px, 20px) rotate(-6deg);
      opacity: 1;
    }
    90% {
      transform: translate(-7px, -19px) rotate(2deg);
      opacity: 0.5;
    }
  }
}

#wrapper > .container-fluid {
  padding: 0!important;
}

#wrapper {
  font-size: 1.4em;
  font-weight: 300;
}

body .wrapper{
  padding-top: 50px;


  .media-grid {
    margin-bottom: 20px;
    border: 1px solid #E9EBEE;
    border-radius: 5px;
    background-color: #E9EBEE;
    padding: 5px;

    img {
      border-radius: 3px;
    }

    .profile-photo-sm {
      border-radius: 100%;
    }
  }

  .js-masonry .col-sm-4{
    padding-left: 5px;
    padding-right: 5px;
  }

  .text-white{
    color: #fff;
  }


  hr{
    background-color: lightslategray;
  }
}

#landing {
  height: calc(100vh - 100px);
  background-image: url("http://bestanimations.com/Nature/clouds-floating-over-himalaya-mountains-animated-gif.gif");
  background-size: cover;
  background-repeat: no-repeat;
  color: #000000;
  text-shadow: 0 0 15px #fff;

  h1 {
    margin-top: 200px;
    font-size: 80px;
    font-weight: bolder;
  }

  p {
    font-size: 40px;
  }
}

.profile-photo-sm {
  border-radius: 100%;
}

.user {
  padding-top: 10px;
}

.about {
  img {
    width: 100%;
  }
}
