.rate {
  > div {
    margin: 0 auto;
    height: 50px!important;
    width: 50px!important;
    background-size: cover;
    text-align: center;
    line-height: 50px;
  }
}

.reaction {
  top: -30px!important;
}
