<footer>
  <div class="splitter"></div>
  <ul>
    <ul>
      <li>
        <div class="icon" data-icon="E"></div>
        <div class="text">
          <h4>私たちに関しては</h4>
          <div>
            チーム名：空 <br>
            チームメンバー：<br>

            Le Vinh Thien (20133740) GL <br>
            Nguyen Thuy Trang (20134072) SL <br>
            Do Duc Quyen (20133187) <br>
            Nguyen Trung Kien (20132150) <br>
            Duong Cong Nguyen (20132812) <br>

            <a href="#">続きを読む</a>
          </div>
        </div>
      </li>
      <li>
        <div class="icon" data-icon="a"></div>
        <div class="text">
          <h4>お問い合わせ</h4>
          <div>ベトナムの有名な観光名所を紹介する「場所」「感情」を確認できる。アカウント登録すると、
            写真をアップロードできるログインすると、自分の写真を削除できるログインすると、
            写真でコメントすることができる <br>
            <a href="#">続きを読む</a></div>
        </div>
      </li>
      <li>
        <div class="icon" data-icon="s"></div>
        <div class="text">
          <h4>ニュース</h4>
          <div>
            ベトナムの有名な観光名所を紹介する「場所」「感情」を確認できる。アカウント登録すると、
            写真をアップロードできるログインすると、自分の写真を削除できるログインすると、
            写真でコメントすることができる <br>
            <a href="#">続きを読む</a></div>
        </div>
      </li>
    </ul>
  </ul>
  <div class="bar">
    <div class="bar-wrap">
      <ul class="links"> <!-- footer menu -->
        <li><a href="#">ホーム</a></li>
        <li><a href="#">ライセンス</a></li>
        <li><a href="#">お問い合わせ</a></li>
        <li><a href="#">広告する</a></li>
      </ul>

      <div class="social">
        <a href="#" class="fb">
          <span data-icon="f" class="icon"></span>
          <span class="info">
                    <span class="follow">ファンになるFacebook</span>
                    <span class="num">9,999</span>
                </span>
        </a>

        <a href="#" class="tw">
          <span data-icon="T" class="icon"></span>
          <span class="info">
                    <span class="follow">私たちに従ってください</span>
                    <span class="num">9,999</span>
                </span>
        </a>

        <a href="#" class="rss">
          <span data-icon="R" class="icon"></span>
          <span class="info">
                    <span class="follow">RSSを購読する</span>
                    <span class="num">9,999</span>
                </span>
        </a>
      </div>
      <div class="clear"></div>
      <div class="copyright">Wevivu &copy;  2017 All Rights Reserved</div>
    </div>
  </div>
</footer>
